body {
  font-family: arial;
}
#wraper {
  margin: 0 auto;
  width: 420px;
  min-height: 100%;
  overflow: hidden;
  background-image: url("../img/background.jpeg");
}
#wall {
  background-size: contain;
  background-size: cover;
}
/* Sets the background image for the wheel */
.the_wheel img {
}

#canvas {
  /* position: absolute; */
}
.tab-content .content {
  position: relative;
  background: white;
  padding: 2rem 1rem;
  margin: 30px;
}
.tab-content .content::before {
  content: "";
  position: absolute;
  top: -1rem;
  left: -1rem;
  display: block;
  background-color: #ffffff;
  background-size: 5px 5px;
  right: -1rem;
  bottom: -1rem;
  z-index: -1;
}
.count-wheel {
  top: 100px;
  left: 90px;
  font-weight: bold;
  color: rgb(185 28 28);
}
/* Do some css reset on selected elements */
h1,
p {
  margin: 0;
}

div.power_controls {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* margin-right:70px; */
}

div.html5_logo {
  margin-left: 70px;
}

/* Style applied to the spin button once a power has been selected */
.clickable {
  cursor: pointer;
}

/* Other misc styles */
.margin_bottom {
  margin-bottom: 5px;
}
.title {
  font-weight: blod;
  color: rgb(185 28 28);
}
.title span {
}
.display-none{
  display: none;
}
.display-block{
  display: block;
}
.vong-quay {
  width: 600px;
  zoom: 0.5;
  height: 600px;
  background-image: url(https://blog-bbh.s3.ap-southeast-1.amazonaws.com/vongquay-6-1651798476.png);
  background-size: cover;
}
#prizePointer {
  position: absolute;
  top: 0px;
  width: 100px;
  left: 255px;
}
#start-wheel {
  position: absolute;
  top: 240px;
  left: 260px;
}
.pointer-wheel {
  top: 0px;
  width: 100px;
  left: 250px;
}
#block-wheel {
  width: 303px;
  top: 125px;
  left: 8px;
  height: 302px;
}
.block-widget {
  box-sizing: border-box;
}
.block-widget[bt-type="blockImage"] > .block-content {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
}
.block-widget > .block-content {
  position: relative;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 600px) {
  .the_wheel img {
    width: 90%;
  }
  /* #canvas {
    width: 90%;
    height: auto;
  } */
  .banner {
    width: 75%;
  }
}
.mobile-width {
  width: 50%;
}
@media only screen and (max-width: 600px) {
  .mobile-width {
    width: 90%;
  }
}
